/* * {
    box-sizing: border-box;
} */

@font-face{
    font-family: "Poppins-Light";
    src: url("../styles/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #282828;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

body {
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;
    font-family: Poppins-Light;
    /* , -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; */
    /* color: #2e76c8; */
    color: #DDDDDD
}

button {
    font-family: Poppins-Light;
}

button {
  background-color: "#AAAAAA";
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins-Light";
  font-size: 0.8em;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0.5em 1.5em;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mother-container {
    display: flex;
    background-color: #444444;
}

.left-child-container {
    display: flex;
    order: 0;
}

.right-child-container {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 20em;
    padding-left: 2.5em;
}

.right-child-top {
    height: 8em;
    margin: 0;
}

.right-child-bottom {
    overflow-y: auto;
    height: 35em;
    margin: 0;
}

p {
    font-size: 0.9em;
}

table, th, td {
    /* border: 1px solid; */
    border-collapse: collapse;
    padding-left:   0.6em;
    padding-right:  0.6em;
    text-align: center;
    font-size: 0.85em;
    height: 1.7em;
}

tr.player_account td {
    padding-top:    0.5em;
    padding-bottom: 0.5em;
}

span {
    color: transparent;
}

h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h5 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

.connected_account {
    font-size: 0.8em;
    padding-top: 0.6em;
}

.cover_art_back {
    z-index: 999;
	position: absolute;
    margin: 0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #282828;
}

/* refs:
https://stackoverflow.com/questions/2643305/centering-a-background-image-using-css
https://stackoverflow.com/questions/8200204/fit-background-image-to-div */

.cover_art {
    z-index: 1000;
	position: absolute;
    margin: 0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #282828;
    background-image: url("../public/cover-art.png");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: contain;
}

.hide {
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
    transition: all 1s;
}

@-webkit-keyframes fadeinout {
    0% { opacity: 1.0; z-index: 1000}
    50% { opacity: 0.5; z-index: 500}
    100% { opacity: 0; z-index: -1}
}

@keyframes fadeinout {
    0% { opacity: 1.0; z-index: 1000}
    50% { opacity: 0.5; z-index: 500}
    100% { opacity: 0; z-index: -1}
}

.show {
    -webkit-animation: display .1s linear forwards;
    animation: display .1s linear forwards;
}

@-webkit-keyframes display {
    0% { opacity: 0.2; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}

@keyframes display {
    0% { opacity: 0.2; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}