.modal {
    z-index: 100;
    position: absolute;
    top: 10%;
    right: 30%;
    bottom: 8.7%;
    left: 11.1%;
    padding-top: 20px;
    padding-left: 40px;
    box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
    background: rgba(255, 255, 255, 0.6);
    color: #333333;

    /* overflow-y: auto; */
    display: flex;
  }

.grids {
  font-size: 2em;
}
